<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DepartmentEmployeesView</servlet-name>
        <servlet-class>view.DepartmentEmployeesView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeAddForm</servlet-name>
        <servlet-class>view.EmployeeAddForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentAddForm</servlet-name>
        <servlet-class>view.DepartmentAddForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentEmployeesView</servlet-name>
        <url-pattern>/DepartmentEmployees</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepartmentManagersView</servlet-name>
        <servlet-class>view.DepartmentManagersView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentManagersView</servlet-name>
        <url-pattern>/DepartmentManagers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepartmentsView</servlet-name>
        <servlet-class>view.DepartmentsView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentsView</servlet-name>
        <url-pattern>/Departments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeesView</servlet-name>
        <servlet-class>view.EmployeesView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeesView</servlet-name>
        <url-pattern>/Employees</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SalariesView</servlet-name>
        <servlet-class>view.SalariesView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalariesView</servlet-name>
        <url-pattern>/Salaries</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TitlesView</servlet-name>
        <servlet-class>view.TitlesView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TitlesView</servlet-name>
        <url-pattern>/Titles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeAddForm</servlet-name>
        <url-pattern>/EmployeeAddForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentAddForm</servlet-name>
        <url-pattern>/DepartmentAddForm</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/Employees</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
